.question-box-container {
  display: flex;
  justify-content: center;
}

.question-box {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.question-box-item {
  border: 4px dotted rgba(0,0,0,.5);
  padding: 10px;
  margin: 10px;
}

.question-text {
  font-family: 'Delius Unicase', cursive;
}
