.question-box-container {
  display: flex;
  justify-content: center;
}

.question-box {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.question-box-item {
  border: 4px dotted rgba(0,0,0,.5);
  padding: 10px;
  margin: 10px;
}

.question-text {
  font-family: 'Delius Unicase', cursive;
}

.correct-incorrect {
  display: flex;
  justify-content: center;
}

.correct {
  font-family: 'Short Stack', cursive;
  font-size: 18px;
  background-color: rgb(16,212,82);
  margin: 10px;
  width: 100px;
  padding: 5px;
}

.incorrect {
  font-family: 'Short Stack', cursive;
  font-size: 18px;
  background-color: rgb(247,82,49);
  margin: 10px;
  width: 200px;
  padding: 5px;
}
