.subject-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.subject-name {
  font-family: 'Short Stack', cursive;
  font-size: 28px;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}
