.lesson-name {
  font-family: 'Short Stack', cursive;
  font-size: 35px;
}

button {
  padding: 20px;
  font-size: 18px;
  border-radius: 70%;
  border: none;
  font-family: 'Short Stack', cursive;
  background-color: #EE5938;
  color: white;
}
