.lesson-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  margin: 10px;
  width: 700px;
}

.lesson-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border: 1px solid #000000;
  margin: 10px;
}

.lesson-icon {
  padding: 10px;
  margin: 10px;
  font-family: 'Short Stack', cursive;
  font-size: 22px;
}
