.subjects {
  text-align: center;
  margin-top: 100px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
}

.home-header {
  font-family: 'Short Stack', cursive;
  font-size: 35px;
}
