nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  background-color: #EE5938;
  color: white;
  font-family: 'Short Stack', cursive;
}

.home {
  padding: 10px;
}

.about {
  padding: 10px;
}
